.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  color: #000000;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  position: relative;
  }

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
/* ---------начало блока хедер-----------------*/

.logo_place_header {
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 3;  
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-left: 64px;
  z-index: 3;
}

.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
}

.header__link {
  text-decoration: none;
  color:  #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {   
  width: 568px;
  height: 568px;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  position: absolute;
  z-index: 1;
}  
/* ---------конец блока хедер-----------------*/


/* ---------начало блока дискрипшн------------*/

.description {
  padding-top: 100px;
}

.description__two-columns {    
  display: flex;
  flex-direction: row;
  margin: auto;  
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {    
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns__main-text {  
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  justify-content: space-between;
  gap: 30px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.two-columns__span-accent {
  display: inline-block;
  font-weight: 700;
}
/* ---------конец блока дискрипшн------------*/

/* ---------начало блока диджитс------------*/
.digits {  
  padding-top: 100px;
}

.digits__section-title {
  text-align: center;
  width: 60%;
  margin:auto;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
}

.digits__section-subtitle{
  text-align: center;
  width:60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
}

.digits__table {
  display: flex;
  flex-direction: column;
  width: 1100px;
  min-height: 300px;
  margin: auto;
  padding-top: 60px;
}

.table__cell { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thead{
  line-height: 1.15;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}

.tbody {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.tbody:nth-of-type(4n) {
  margin-bottom: 0;
}

.string {  
  margin-bottom: 0;
}

.th {  
  width: 250px;
  margin: 0;
  padding: 0;
}

.td {  
  width: 250px;
  margin: 0;
  padding: 0;
}
/* ---------конец блока диджитс------------*/

/* ---------начало блока фейнман------------*/
.feynman {
  position: relative;
  width: 100%;
  height: 890px;
  background-color: #f2f2f2;
  z-index: 0;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.group {
  width: 100%;
  height: 790px;
}

.feynman__title{
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
  margin: auto;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #2f80ed;
  display: block;
  position: absolute;
  right: 48px;
  top:50%;
}

.feynman__img {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
/* ---------конец блока фейнман------------*/

/* ---------начало блока кауфман------------*/
.kaufman {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.triangle{
  box-sizing: border-box;
  width: 877px;
  height: 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: -1;
}

.kaufman__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

.kaufman__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin: auto;
}

.kaufman__table { 
  width: 1100px;
  min-height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.table__block {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.k-head {
  margin-top: 80px;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.k-body {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.cell-width {
  width: 200px;
}

.theme_dark {
  color: white;
}
/* ---------конец блока кауфман------------*/

/* ---------начало блока футер------------*/

.footer {  
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 250px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
}

.footer__logo {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.footer__author {
  margin: 18px 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__column_content_copyright {
  flex-basis: 711px;
}

.footer__column {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link {
  display: block;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

