.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  color: #000000;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  }

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

div {
  border: 1px solid green;   /* границы убрать по готовности */
}
img {
  border: 1px solid green;  /* границы убрать по готовности */
}
p{
  border: 1px solid green;
}

/* ---------начало блока хедер-----------------*/
.column {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.row {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 3;  
}

.title {
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
}

.subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 3;
}

.link {
  text-decoration: none;
  color:  #2f80ed;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.square-pic {   /*синий квадрат*/
  width: 568px;
  height: 568px;
  margin-top: 64px;
  right: 0;
  background-color: #2f80ed;
  position: absolute;
  z-index: 1;
}  
/* ---------конец блока хедер-----------------*/


/* ---------начало блока дискрипшн------------*/

.two-columns {    /*весь блок*/
  display: flex;
  flex-direction: row;
  margin: auto;  
  width: 80%;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;

}
.two-columns__brief {   /*главные проблемы в обучении*/  
  width: 175px;
  line-height: 1.2;
  font-size: 18px;  
  color:  #2f80ed;
}

.two-columns__main-text {  /*три строки в колонке*/
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 784px;
  min-height:           /* ??????? */
  justify-content: space-between; 
  gap: 30px;  /*я час искал это свойство из трех букв*/ 
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;    
}

.span-accent {
  display: inline-block;
  font-weight: 700;
}
/* ---------конец блока дискрипшн------------*/

/* ---------начало блока диджитс------------*/

.section-title {
  text-align: center;
  width: 60%;
  margin:auto;
  margin-bottom: 20px;
  font-size: 60px;
  line-height: 1.15;
  font-weight: 700;
}
.section-subtitle{
  text-align: center;
  width:60%;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
}
.table {
  width: 1100px;
  min-height: 300px;   /*отбалды*/
  margin: auto; 
  padding-top: 60px;

}
.table__cell { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
th {
  border: 1px solid green;
  width: 250px;
}
td {
  border: 1px solid green;
  width: 250px;             /*непрое@и ширину*/
}
table {
  border: 1px solid green;
}
.thead{
  line-height: 1.15;
  font-weight: 700;
  font-size: 24px;
}
.tbody {
  line-height: 1.2;
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 60px;
}

.tbody:nth-of-type(4n) {
  margin-bottom: 0;
}

